@charset "UTF-8";
/* CSS Document */

#container {
	margin left: 0px;
	margin-top: 0px;
	width: 1300px;
	float:center;
	text-align:left;
	borders: none;
}

#logo_container {
	width:400px;
	height: 80px;
	margin-left:20px;
	float:left;

}

#logo {
	margin-left: 0px;
	margin-right: 0px;
}

#navigation {
	width:100%;
	height: 10px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;	
}

#homebg {
	margin-left: 0px;
	margin-right: 0px;
	height: auto;
	width: 100%;
	position: fixed;
	z-index: -100;
	bottom: 0px;
	left: 0px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a:link, a:visited { 
    color: #000;
    
	text-decoration:none;
}
#title, #content, #local_navigation {
	font-family: 'Oswald', sans-serif;
	text-align: center; 
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

.social_icon_home {
	margin: 10px;
}

.social_icon_navigation {
	margin: 2px;
	
}

#top-nav{
	list-style-type: none;
	display: flex;
	margin: 0;
	margin-top: 8px;
	padding: 0;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
}
#top-nav > li {
	margin: 0px;
}

#nav-social{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	width: 70px;
}

#nav-social > li {
	margin: 0px;
}

#press_photos {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.press {
	align: center;
	width: 80%;
}


.fancybox:hover {
	filter:grayscale(10%);
	opacity:.9;
	transform: scale(1.1);	
}
